/* Reset document */
* {
    margin: 0;
    padding: 0;
}

/* Configurações */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    align-items: center;
    background-color: green;
    position: fixed;
    z-index: 999;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div, section, header, span, ul, li, a {
    box-sizing: border-box;
}

#logo {
    width: 100%;
    max-height: 8rem;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
}

#menu li a {
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    text-shadow: 3px 3px 5px black;
}

#menu li a:hover {
    color: gray;
    background-color:#fff;
}

section {
    width: 100%;
    height: 100vh;
}

#inicio {
    background-color: #56e39f;
}

#sobrenos {
    background-color: #59c9a5;
    color: #333;
}

#produtos {
    background-color: #5b6c5d;
    color: #fff;
}

#receitas {
    background-color: #3b2c35;
    color: #fff;
}

#contactos {
    background-color: #2a1f2d;
    color: #fff;
}

#footer {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

.profiles {
    display: flex;
    justify-content: flex-start;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  height: 230px;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}